.feedback {
    padding: 50px 0;
    text-align: center;
    background: 
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0 20px;
    
}

.widget {
    color: blanchedalmond;
}

.box {
    border: 1px solid blanchedalmond;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    width: 450px;
    min-height: 550px;
}

.feedback__text,
.statistics__text {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.27;
    color: blanchedalmond;
}