.statistics__list {
    list-style: none;
    padding: 0;
    color: blanchedalmond;
}

.statistics__item {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color: blanchedalmond;

}

.statistics__value {
    margin-left: 10px;
    color: blanchedalmond;
}